# Dependencies
node_modules/

# Build artifacts
build/
dist/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Temporary files
*~
*.tmp
*.temp

brand/banner_1.png
brand/banner_2.png
brand/logo.psd
brand/logo_2.png
brand/logo_bg.png
brand/logo_bg.psd
review.md