/* noinspection CssUnusedSymbol */

.window-resize-handles {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 12000;
  -webkit-app-region: no-drag;
}

.resize-handle {
  position: fixed;
  pointer-events: auto;
  z-index: 12000;
  cursor: default !important;
  -webkit-app-region: no-drag;
}

.resize-handle--top,
.resize-handle--bottom {
  left: 16px;
  right: 16px;
  height: 8px;
  touch-action: none;
}

.resize-handle--top {
  top: 0;
  height: 10px;
}

.resize-handle--bottom {
  bottom: 0;
}

.resize-handle--left,
.resize-handle--right {
  top: 16px;
  bottom: 16px;
  width: 8px;
}

.resize-handle--left {
  left: 0;
}

.resize-handle--right {
  right: 0;
}

.resize-handle--top-left,
.resize-handle--top-right,
.resize-handle--bottom-left,
.resize-handle--bottom-right {
  width: 14px;
  height: 14px;
}

.resize-handle--top-left {
  top: 0;
  left: 0;
}

.resize-handle--top-right {
  top: 0;
  right: 0;
}

.resize-handle--bottom-left {
  bottom: 0;
  left: 0;
}

.resize-handle--bottom-right {
  bottom: 0;
  right: 0;
}
